<div class="row">
    <div class="col-md-12">
        <form name="addEvent">
            <br>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Title </label>
                <input required="" type="text" name="Name" ng-model='editorCtrl.event.title'>
            </md-input-container>
            <div class="row">
                <div class="col-md-6">
                    <div class="row text-center">
                        <h4>Select Type:</h4>
                    </div>
                    <br>
                        <div class="row">
                            <font color="red" ><span ng-show="!editorCtrl.event.event_type_id">Select Category required</span> </font>
                        </div>
                        <md-radio-group layout="row" ng-model="editorCtrl.event.event_type_id">

                            <md-radio-button ng-repeat="type in editorCtrl.eventTypes"
                                             value="{{ type.id }}"
                                             class="md-primary">{{ type.type }}
                            </md-radio-button>

                        </md-radio-group>
                        <br>
                        <h4>Select date</h4>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="input-group">
                                <input type="text" class="form-control" uib-datepicker-popup ng-model="editorCtrl.event.date " is-open="date.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="date()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <md-button ng-show="!editorCtrl.addCategories" ng-click="editorCtrl.addCategories=!editorCtrl.addCategories" class="md-raised btn-sm wc-theme">Add Categories</md-button>

                    <div  ng-if="editorCtrl.addCategories" flex="100" flex-gt-sm="50" layout="column">
                        <div>
                            <fieldset class="standard" >
                                <legend>Select Categories:</legend>
                                <div layout="row" layout-wrap flex>
                                    <div flex="50" ng-repeat="category in categories">
                                        <md-checkbox
                                              ng-model="selected[category.name]">
                                            {{ category.name }}
                                        </md-checkbox>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Country </label>
                    <md-select ng-model="editorCtrl.event.location" required>
                        <md-option ng-repeat="country in countries" ng-value="country.code">
                            {{ country.name }}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <br>
            <div class="row text-center">
                <h4>Body:</h4>
            </div>
            <br>
                <trix-editor required style="height: 300px" angular-trix ng-model="editorCtrl.event.body"></trix-editor>
            <br>
                <md-button ng-if="!editorCtrl.showNote" class="wc-theme" ng-click="editorCtrl.showNote=!showNote">
                    Add note for fighters
                </md-button>
                <div ng-if="editorCtrl.showNote">
                <div class="row text-center">
                    <h4>Note (only for attending fighters):</h4>
                </div>
                <br>
                    <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <trix-editor required style="height: 300px" angular-trix ng-model="editorCtrl.note.body"></trix-editor>
                    </div>
                    </div>
                </div>
                <br>
            <div class="row text-center">
                <h4>Upload Photo:</h4>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">

                    <div
                         ngf-drop
                         ngf-select
                         ng-model="photo.header"
                         name="photo"
                         class="drop-box"
                         ngf-drag-over-class="'dragover'"
                         ngf-allow-dir="true"
                         accept="image/*"
                         ngf-pattern="'image/*'">Upload Header photo
                        <!--<font color="red" ><i ng-show="addPost.photo.$error.required">*required</i></font>-->

                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                </div>
                <div class="col-md-4 col-md-offset-4">
                    <img style="height: 150px;width: 100%" ng-show="addEvent.photo.header.$valid" ngf-thumbnail="photo.header">
                </div>
            </div>

            <hr>
            <div class="row">
                <button ng-disabled="!editorCtrl.event.event_type_id || addEvent.$invalid" ng-click="editorCtrl.submitEvent(editorCtrl.event, editorCtrl.note)" class="btn wc-theme">submit</button>
            </div>
        </form>
    </div>
</div>