<div class="row">
    <div class="col-md-12">
        <form name="addPost">
            <br>
            <md-input-container class="md-block" flex-gt-sm>
                <label>Title </label>
                <input required="" type="text" name="Name" ng-model='editorCtrl.post.title'
                >
            </md-input-container>
            <div class="row text-center">
                <h4>Select category:</h4>
            </div>
            <br>
            <div class="row">
                <font color="red" ><span ng-show="!editorCtrl.post.post_type">Select Category required</span> </font>
            </div>
            <md-radio-group layout="row" ng-model="editorCtrl.post.post_type">
                <md-radio-button ng-repeat="type in editorCtrl.postTypes"
                                 value="{{ type.id }}" class="md-primary">
                    {{ type.type }}
                </md-radio-button>
            </md-radio-group>
            <md-button ng-if="editorCtrl.hideEditPostType"><a ng-click="editorCtrl.deletePostType(editorCtrl.post.post_type)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span>Remove</a></md-button>

            <!--todo checkbox to edit types-->
            <!--<md-button ng-if="!editorCtrl.showPostTypeToBeEdited" ng-if="editorCtrl.hideEditPostType"><a ng-click="editorCtrl.editPostType(editorCtrl.post.post_type)" class="btn btn-xs btn-danger"><span class="fa fa-pencil-square-o"></span>Edit</a></md-button>-->

            <!--<span ng-if="editorCtrl.showPostTypeToBeEdited">  <input type="text" ng-model="editorCtrl.postTypeToEdit.type" ><i ng-click="editorCtrl.updatePostType(editorCtrl.postTypeToEdit)" class="fa fa-check" aria-hidden="true"></i></span>-->


            <div class="row">
                <span ng-if="!editorCtrl.hideAddPostType" ng-click="editorCtrl.hideAddPostType=!editorCtrl.hideAddPostType"><i  class="fa fa-plus-square" aria-hidden="true"></i> Add Category</span>
                <span ng-click="editorCtrl.hideEditPostType=!editorCtrl.hideEditPostType"><i  class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Category</span>
                <span ng-if="editorCtrl.hideAddPostType"> <input  ng-model="editorCtrl.addPostNewType.type" type="text"><i ng-click="editorCtrl.addPostType(editorCtrl.addPostNewType)" class="fa fa-plus-square" aria-hidden="true"></i></span>
            </div>
            <br>
            <div class="row text-center">
                <h4>Body:</h4>
            </div>
            <br>
            <trix-editor required style="height: 300px" angular-trix ng-model="editorCtrl.post.body"></trix-editor>
            <br>
            <div class="row text-center">
                <h4>Select Photos or Video as Header:</h4>
            </div>
            <div class="row">
                <div class="col-md-5 col-lg-offset-5 ">
                    {{ header }}
                    <md-radio-group layout="row" ng-model="header">
                        <md-radio-button value="photo" class="md-primary">
                                Photo
                        </md-radio-button>
                        <md-radio-button value="video" class="md-primary">
                                Video
                        </md-radio-button>
                    </md-radio-group>
                </div>
            </div>
            <br>
            <div class="row">
                <div ng-if="header == 'photo'" class="col-md-6 ">
                    <div ng-required="(editorCtrl.post.post_type == 1 || editorCtrl.post.post_type == 22) && header != 'video' "
                         ngf-drop
                         ngf-select
                         ngf-resize="{width: 650, height: 350, quality: .8, centerCrop: true}"
                         ngf-dimensions="$width >= 650 || $height >= 350"
                         ng-model="photo.header"
                         name="photo"
                         class="drop-box"
                         ngf-drag-over-class="'dragover'"
                         ngf-allow-dir="true"
                         accept="image/*"
                         ngf-pattern="'image/*'">Upload Header photo
                        <font color="red" ><i ng-show="addPost.photo.$error.required">*required<br>
                            News/Header Photo must be min widthx650/heightx350
                        </i></font>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
                <div class="col-md-6 ">
                    <div ng-if="header == 'video'" class="row">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Header Video </label>
                            <input placeholder="Enter youtube link" type="text" name="video" ng-model="video.url">
                        </md-input-container>
                    </div>
                    <div ng-if="header == 'photo'" class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <img style="height: 100px; width: 100%" ng-show="addPost.photo.header.$valid" ngf-thumbnail="photo.header">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <md-checkbox ng-model="editorCtrl.post.gallery"  ng-click="addGallery=!addGallery" aria-label="Checkbox 1">
                    <label>Add Gallery</label>
                </md-checkbox>
            </div>
            <div ng-if="addGallery" class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div ngf-drop
                         ngf-select
                         ng-model="files.photos"
                         class="drop-box"
                         ngf-drag-over-class="'dragover'"
                         ngf-multiple='true'
                         accept="image/*"
                         ngf-pattern="'image/*'">Upload Gallery Photos
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
            </div>
            <div ng-if="addGallery" class="row">
                <div class="col-md-2" ng-repeat="photo in files.photos">
                    <img style="height:100%;width:100%" ngf-thumbnail="photo">
                </div>
            </div>

            <hr>
            <div class="row">
                <button ng-disabled="!editorCtrl.post.post_type || addPost.$invalid" ng-click="editorCtrl.submit(editorCtrl.post)" class="btn wc-theme">submit</button>
            </div>
        </form>
    </div>
</div>