<div class="row">
    <div class="col-md-12">
        <form name="updateGallery">
            <div ng-show="!editorCtrl.galleryEdit" class="row">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover myTable ">
                        <thead>
                        <tr>
                            <th>Post Name</th>
                            <th>Added by</th>
                            <th>Added on</th>
                            <th>Nr of Img</th>
                            <th width="5%">Edit</th>
                            <th width="5%">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="gallery in editorCtrl.galleries">
                            <td>{{ gallery.title }}</td>
                            <td>{{ gallery.user.username }}</td>
                            <td>{{ gallery.created_at | limitTo: 16 }}</td>
                            <td>{{ gallery.image.length }}</td>
                            <td><a ng-click="editorCtrl.editGallery(gallery)" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span></a></td>
                            <td><a ng-click="editorCtrl.deleteGallery(gallery)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>    <!-- /.table-responsive -->
            </div>
            <div ng-show="editorCtrl.galleryEdit" class="row">
                <div class="row">
                    <br>
                    <div class="col-md-12">
                        <a ng-click="editorCtrl.uploadMore=!editorCtrl.uploadMore" class="btn btn-xs btn-success  pull-left">Upload more <span class="fa fa-upload"></span></a>
                        <a ng-click="editorCtrl.galleryEdit=!editorCtrl.galleryEdit" class="btn btn-xs btn-success  pull-right">Back <span class="glyphicon glyphicon-arrow-right"></span></a>
                    </div>
                </div>
                <div ng-show="editorCtrl.uploadMore" class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div ngf-drop
                             ngf-select
                             ng-model="files.photos"
                             class="drop-box"
                             ngf-drag-over-class="'dragover'"
                             ngf-multiple='true'
                             accept="image/*"
                             ngf-pattern="'image/*'">Upload Gallery Photos
                        </div>

                        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                    </div>
                    <br>
                    <button ng-disabled="!files.photos" ng-click="editorCtrl.uploadMoreImages(editorCtrl.galleryToEdit)" class="btn wc-theme">Upload</button>

                </div>
                <div ng-if="files.photos" class="row">
                    <div class="col-md-2" ng-repeat="photo in files.photos">
                        <img class="img-responsive" ngf-thumbnail="photo">
                    </div>
                </div>
                <div ng-repeat="img in editorCtrl.galleryToEdit.image" class="col-md-2">
                    <a ng-click="editorCtrl.deleteImg(img)" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span></a>

                    <img class="img-responsive" src="{{img.url}}">

                </div>
            </div>

        </form>
    </div>
</div>