<section class="bg-pages">
    <div class="container">
        <div class="col-md-12">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline text-center">Admin Section</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>

            <md-card-content >
                    <uib-tabset active="active">
                        <uib-tab index="0" heading="User Requests">
                            <ng-include src="'app/app/components/admin/sections/userRequests.template.html'"></ng-include>
                        </uib-tab>
                        <uib-tab index="1" heading="Manage Users">
                            <ng-include src="'app/app/components/admin/sections/manageUsers.template.html'"></ng-include>
                        </uib-tab>
                    </uib-tabset>
            </md-card-content>

        </md-card>
        </div>


    </div>
</section>