.messageContainer{
    display: flex;
    flex-direction: row;

}

.messageBody{
    font-size: 11px;
    width: 65%;
    background-color: white!important;
    margin: 3px 0!important;
    border-radius: 5px!important;
    padding:-5px -5px!important;
}

.messageText{
    margin: 5px;
}