<section class="bg-pages" ng-controller="myApp.EventCtrl as event">
    <div class="container">
        <div class="col-md-12">
            <md-card >
                <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline text-left">{{ event.tournament.title }} in <flag country="{{event.tournament.location}}" size="32"></flag></span>
                        <span class="md-subhead">
                            Event Date: {{ event.tournament.date | limitTo: 10 }} | {{ event.attendingCount }} People are going
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <div class="row">
                        <div class="col-md-12">
                        <p ng-bind-html="event.tournament.body">
                            {{ event.tournament.body }}
                        </p>

                        </div>
                        </div>
                        <hr>
                        <h4>Going</h4>
                        <md-card-title-media layout="row">
                            <div class="md-media-sm card-media" ng-repeat="user in event.attendees">
                                <md-tooltip md-direction="bottom">{{ user.name ? user.name : user.username }}</md-tooltip>
                              <a ui-sref="fighterDetail({fighterId:user.id})"><img style="width: 50px" class="md-media-sm card-media" ng-if="user.image && !user.facebook_picture && !user.google_picture" src="{{ user.image}}"></a>
                                <a ui-sref="fighterDetail({fighterId:user.id})">   <img style="width: 50px" class="md-media-sm card-media" ng-if="!user.image && user.facebook_picture && !user.google_picture" src="{{ user.facebook_picture}}"></a>
                                <a ui-sref="fighterDetail({fighterId:user.id})"> <img style="width: 50px" class="md-media-sm card-media" ng-if="!user.image && !user.facebook_picture && user.google_picture" src="{{ user.google_picture}}"></a>

                                <!--<img class="md-media-sm card-media" ng-if="!user.image && !user.facebook_picture && !user.google_picture" src="{{ adminCtrl.placeholder }}">-->
                            </div>
                        </md-card-title-media>
                        <!--<hr>-->
                        <!--<md-card-actions ng-if="currentUser" layout="row" layout-align="end center">-->
                            <!--<md-button ng-click="event.attend(currentUser, event.tournament); showCategoryAttendance($event,'categoryAttendance')">Attend</md-button>-->
                            <!--<md-button ng-click="event.cantGo(currentUser, event.tournament)">Cant go</md-button>-->
                        <!--</md-card-actions>-->

                    </md-card-content>

            </md-card>

        </div>
    </div>
</section>