<section class="bg-pages" ng-controller="myApp.EventCtrl as event">
    <div class="container">
        <div class="col-sm-12 col-md-6">
            <md-card >
                <h2 class="text-center">Upcoming Events</h2>
                <md-content>
                    <md-list flex>
                        <!--<md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>-->
                        <md-list-item  data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" class="md-3-line" ng-repeat="tournament in event.tournaments">
                            <a ui-sref="tournament({tournamentId:tournament.id})">
                                <img ng-if="tournament.url" ng-src="{{tournament.url}}?{{$index}}" class="md-avatar" />
                                <span ng-if="!tournament.url"><i class="fa fa-3x fa-fort-awesome md-avatar"></i></span>
                            </a>

                                <div class="md-list-item-text" layout="column">
                            <a ui-sref="tournament({tournamentId:tournament.id})">
                                <h3>{{ tournament.title }}   <flag class="pull-right" country="{{tournament.location}}" size="32"></flag></h3>
                                <h4><timer countdown="tournament.date" interval="1000">{{days}}</timer> D |
                                    <timer countdown="tournament.date" interval="1000">{{hours}}</timer> H |
                                    <timer countdown="tournament.date" interval="1000">{{mminutes}}</timer> M |
                                    <timer countdown="tournament.date" interval="1000">{{sseconds}}</timer> S
                                </h4>
                            </a>
                                <span ng-if="currentUser">

                                    <p>

                                        <a style="margin-top: 5px; margin-right: 10px;" class="btn wc-theme small-button" ng-click="event.attend(currentUser, tournament); showCategoryAttendance($event,'categoryAttendance',event.categories)">Attend
                                            <md-tooltip md-direction="left">Click to select categories</md-tooltip>
                                        </a>
                                        <a style="margin-top: 5px;" class="btn wc-theme small-button" ng-click="event.cantGo(currentUser, tournament)">
                                            <md-tooltip md-direction="right">Sad to hear...</md-tooltip>
                                            Cant go</a>
                                    </p>


                                <!--<md-button  ng-click="event.attend(currentUser, tournament); showCategoryAttendance($event,'categoryAttendance',event.categories)">Attend</md-button>-->
                                <!--<md-button ng-click="event.cantGo(currentUser, tournament)">Cant go</md-button>-->
                                </span>


                            </div>

                        </md-list-item>
                        <md-divider >

                        </md-divider>
                    </md-list>
                </md-content>
            </md-card>
        </div>
        <!--<div class="col-md-6">-->
            <!--<md-card style="padding: 50px">-->
                <!--<md-card>-->
                    <!--<md-card-title >-->
                        <!--<md-card-title-text>-->
                            <!--<span class="md-headline">Past Events</span>-->
                            <!--<span class="md-subhead">-->
                        <!--</span>-->
                        <!--</md-card-title-text>-->
                    <!--</md-card-title>-->

                    <!--<md-card-content >-->

                        <!--&lt;!&ndash;<div class="col-md-3">&ndash;&gt;-->
                            <!--&lt;!&ndash;<img class="img-responsive" src="{{ post.url }}" >&ndash;&gt;-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</md-card-content>-->
                <!--</md-card>-->


            <!--</md-card>-->
    </div>
</section>