@media (max-width: 752px){

    .navbar-nav .nav-item .nav-link{
        text-align: right;

    }
}

@media (min-width: 769px){
    .navbar{
        flex-direction: row;
    }
    .navbar-nav{
        margin-left: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    ul.navbar-nav.mr-auto{
        margin-right: 0px!important;
        margin-left: auto!important;
    }

    .navbar-nav .nav-item .nav-link{
        font-size: large;
        cursor: pointer;
        transition: linear 0.1s;
        padding: 0 10px;
    }

    .navbar-nav .nav-item .nav-link:hover{
        color: black;
        margin-top: -3px;
        border-bottom: 2px solid black;
    }

    .navbar-nav .nav-item .nav-link:active{
        color: white;
        background-color: black;
        margin-top: -3px;
        border-radius: 25px;

    }

}

@media only screen and (max-width: 767px) {
    .navbar-brand{
        display:none;
    }

    .navbar{
        width: 100%;
        flex-direction: column;
        display: flex;
    }

    .navbar-nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nav-link{
        border-bottom: 1px solid black;
        padding: 5px 20px!important;
    }

}
