<section class="bg-pages" ng-controller="myApp.GalleryCtrl as gallery">
    <div class="container">
        <div class="col-md-12">
            <md-card >

                <md-card-title >
                    <md-card-title-text ng-controller="myApp.BlogCtrl as blog">
                        <span class="md-headline text-left">Gallery for {{ blog.post.title }}</span>
                        <span class="md-subhead">
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <ng-image-gallery
                                images="gallery.images"
                                methods="methods"
                                conf="conf"
                                on-open="opened();"
                                on-close="closed();"
                        ></ng-image-gallery>
                    </md-card-content>
            </md-card>
        </div>
    </div>
</section>