<section class="bg-pages" ng-controller="myApp.GalleryCtrl as gallery">
    <div class="container">
        <div class="col-md-12">
            <md-card >
                <div>
                <button ui-sref="galleryDetail({postId: galleryImage.id})" ng-repeat="galleryImage in gallery.galleryImages | limitTo:12" class="btn small-button">
                    {{ galleryImage.title}}
                </button>
                </div>
                <div ng-repeat="galleryImage in gallery.galleryImages | limitTo:12">
                    <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline text-left">Gallery for <a ui-sref="galleryDetail({postId: galleryImage.id})">{{ galleryImage.title }}</a></span>
                        <span class="md-subhead">
                        </span>
                    </md-card-title-text>
                </md-card-title>

                    <md-card-content >
                        <ng-image-gallery
                                images="galleryImage.image"
                                methods="methods"
                                conf="conf"
                                on-open="opened();"
                                on-close="closed();"
                        ></ng-image-gallery>

                        <!--<div class="row">-->
                            <!--<md-button class="wc-theme" ng-click="gallery.goBack()">Back</md-button>-->
                        <!--</div>-->

                    <!--</md-card-content>-->
                </div>
            </md-card>

        </div>
    </div>
</section>