.sideNavLink{
    display: flex;
    justify-content:flex-start;
}

.sideNavAvatar{
    display: flex;
    justify-content:center;
}


@media only screen and (max-width: 500px) {
    .hideSideNav{
       position:fixed;
        z-index: 10;
    }

    .sideNavAvatar{
        margin-left: 15px;
    }
}

.showSideNav{
    position:fixed;
    z-index: 10;
}