<section class="bg-pages" ng-controller="myApp.BlogCtrl as blog">
    <div class="container">
        <div class="col-md-12">
            <md-card >

                <md-card-title >
                    <md-card-title-text>
                        <span class="md-headline text-left">{{ blog.post.title }}</span>
                        <span class="md-subhead">
                            Author: {{ blog.post.user.username }}
                            | Posted: {{ blog.post.created_at | limitTo: 10}}
                            | <a href="#"
                                 socialshare
                                 socialshare-provider="facebook"
                                 socialshare-url="{{shareUrl(blog.post.id)}}">
                            <md-tooltip md-direction="top">Share on FB</md-tooltip>
                            <button class="btn wc-theme-reverse">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                            Share</button>
                        </a>
                        </span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content >
                    <div class="row">
                        <div class="col-md-12">
                            <p ng-bind-html="blog.post.body">
                                {{ blog.post.body }}
                            </p>
                        </div>
                    </div>
                        <div ng-if="blog.post.video" class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                            <embed-video iframe-id="vimeo2" height=350 width=100% api="1" player_id="player" ng-href="{{ blog.post.video[0].url }}"><a href="{{ blog.post.video[0].url }}">Watch</a></embed-video>
                            </div>
                        </div>
                        <div class="row">
                            <ng-image-gallery
                                    style="margin-left: 25%"
                                    images="blog.images"
                                    methods="methods"
                                    conf="conf"
                                    on-open="opened();"
                                    on-close="closed();"
                            ></ng-image-gallery>
                        </div>
                        <div class="row">
                            <!--<md-button class="wc-theme" ng-click="blog.goBack()">Back</md-button>-->
                            <md-button ng-show="blog.post.gallery" class="wc-theme pull-right"  ui-sref="galleryDetail({postId: blog.post.id})" >View full gallery</md-button>
                        </div>
                </md-card-content>
            </md-card>
        </div>

        <div class="col-md-8">
            <md-card >
                <md-card-title >
                    <md-card-title-text>
                        <div class="row">
                            <span>
                                <md-button class="wc-theme" ng-click="seeComments=!seeComments">
                                    <md-tooltip md-direction="top">See comments</md-tooltip>
                                    <i class="fa fa-comments" aria-hidden="true"> ({{ blog.post.comments.length }})</i>
                                </md-button>
                            </span>
                            <span>
                                <md-button class="wc-theme btn-square-md" ng-click="comment=!comment">
                                    <md-tooltip md-direction="top">Write comment</md-tooltip>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i></md-button>
                            </span>
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content >
                    <div ng-if="comment">
                        <md-input-container class="md-block">
                            <label>Content</label>
                            <textarea ng-model="blog.comment.body" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-button class="wc-theme btn-square-md" ng-click="blog.addComment(blog.comment, blog.post)">
                            <md-tooltip md-direction="top">Send</md-tooltip>
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </md-button>
                    </div>
                    <div ng-if="seeComments" ng-repeat="comment in blog.post.comments" class="col-md-10">
                        <md-card>
                            <md-card-title >
                                <md-card-title-text>
                                    <span style="font-size: 18px" class="md-headline text-left">{{ !comment.user.name ? comment.user.username : comment.user.name }}<span ng-if="!comment.user">Guest</span> {{ comment.posted }} ago <span style="font-size: 10px" ng-if="comment.comment_update != comment.posted">(Edited: {{ comment.comment_update }} ago)</span></span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <div ng-if="blog.commentToEdit.id != comment.id">
                                    {{ comment.body }}
                                </div>
                                <div ng-if="blog.showEditComment && blog.commentToEdit.id == comment.id">
                                    <md-input-container class="md-block">
                                        <label>Content</label>
                                        <textarea ng-model="blog.commentToEdit.body" md-maxlength="500" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>

                                    <md-button class="wc-theme btn-square-sm" ng-click="blog.updateComment(blog.commentToEdit)">
                                        <md-tooltip md-direction="top">Update</md-tooltip>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </md-button>
                                </div>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="wc-theme btn-square-sm" ng-click="reply=!reply">
                                    <md-tooltip md-direction="top">Reply</md-tooltip>
                                    <i class="fa fa-reply" aria-hidden="true"></i>
                                </md-button>
                                <md-button ng-if="comment.replies.length > 0" ng-click="blog.showReply=!blog.showReply" class="wc-theme btn-square-sm">
                                    <md-tooltip md-direction="top">See replies</md-tooltip>
                                    <i class="fa fa-comments" aria-hidden="true"></i>({{ comment.replies.length }})
                                </md-button>
                                <md-button ng-if="currentUser && currentUser.id == comment.user.id" ng-click="blog.editComment(comment)" class="wc-theme btn-square-sm">
                                    <md-tooltip md-direction="top">Edit comment</md-tooltip>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </md-button>
                                <md-button ng-if="currentUser && currentUser.id == comment.user.id" ng-click="blog.deleteComment(comment)" class="wc-theme btn-square-sm">
                                    <md-tooltip md-direction="top">Delete</md-tooltip>
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </md-button>
                            </md-card-actions>
                            <div ng-if="reply" class="col-md-10 col-lg-offset-2">
                                <md-input-container class="md-block">
                                    <label>Content</label>
                                    <textarea ng-model="blog.reply.body" md-maxlength="500" rows="3" md-select-on-focus></textarea>
                                </md-input-container>
                                <md-button class="wc-theme btn-square-sm" ng-click="blog.addReply(blog.reply, comment)">
                                    <md-tooltip md-direction="top">Reply</md-tooltip>
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </md-button>
                            </div>
                            <div ng-if="blog.showReply" ng-repeat="reply in comment.replies" class="col-md-10 col-lg-offset-2">
                                <md-card>
                                    <md-card-title >
                                        <md-card-title-text>
                                            <span style="font-size: 18px" class="md-headline text-left">{{ !reply.user.name ? reply.user.username : reply.user.name }}<span ng-if="!reply.user">Guest</span> {{ reply.posted }} ago <span style="font-size: 10px" ng-if="reply.reply_update != reply.posted">(Edited: {{ reply.reply_update }} ago)</span></span>
                                        </md-card-title-text>
                                    </md-card-title>
                                    <md-card-content>
                                        <div ng-if="blog.replyToEdit.id != reply.id">
                                         {{ reply.body }}
                                        </div>
                                        <div ng-if="blog.showEditReply && blog.replyToEdit.id == reply.id">
                                        <md-input-container class="md-block">
                                        <label>Content</label>
                                        <textarea ng-model="blog.replyToEdit.body" md-maxlength="500" rows="3" md-select-on-focus></textarea>
                                        </md-input-container>
                                        <md-button class="wc-theme btn-square-sm" ng-click="blog.updateReply(blog.replyToEdit)">
                                            <md-tooltip md-direction="top">Update</md-tooltip>
                                            <i class="fa fa-check" aria-hidden="true"></i>
                                        </md-button>
                                        </div>
                                    </md-card-content>
                                    <md-card-actions layout="row" layout-align="end center">
                                        <md-button ng-if="currentUser && currentUser.id == reply.user.id" ng-click="blog.editReply(reply)" class="wc-theme btn-square-sm">
                                            <md-tooltip md-direction="top">Edit</md-tooltip>
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </md-button>
                                        <md-button ng-if="currentUser && currentUser.id == reply.user.id" ng-click="blog.deleteReply(reply)" class="wc-theme btn-square-sm">
                                            <md-tooltip md-direction="top">Delete</md-tooltip>
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </md-button>
                                    </md-card-actions>
                                </md-card>
                            </div>
                        </md-card>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</section>