<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" ng-controller="ModalCtrl" >
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="app/img/kaka.png" height="100px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-xs" ng-if="currentUser">
                    <div>
                        <img class="img-circle nav-profile-photo" src="{{ image }}">
                    </div>
                </li>
                <li ng-if="currentUser" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span ng-if="admin">Admin </span>{{ currentUser.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--web menu-->
                        <li><a ui-sref="fighterDetail({fighterId: currentUser.id})" class="hidden-xs">Your profile</a></li>
                        <li><a ui-sref="fighterPage({fighterId: currentUser.id})" class="hidden-xs">Your events</a></li>
                        <li><a ng-click="showEditProfile($event,'editprofile',currentUser)" class="hidden-xs">Edit profile</a></li>
                        <li><a ng-click="showSettings($event)" class="hidden-xs">Settings</a></li>
                        <li ng-if="admin || editor" class="divider"></li>
                        <li ng-if="admin" ><a ui-sref="adminPage" class="hidden-xs">Admin Panel</a></li>
                        <li ng-if="admin || editor" ><a ui-sref="editorPage" class="hidden-xs">Editor Panel</a></li>
                        <!--mobile menu-->
                        <li><a ui-sref="fighterDetail({fighterId: currentUser.id})" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Your profile</a></li>
                        <li><a ui-sref="fighterPage({fighterId: currentUser.id})" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Your events</a></li>
                        <li><a ng-click="showEditProfile($event,'editprofile',currentUser)" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Edit profile</a></li>
                        <li><a ng-click="showSettings($event)" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Settings</a></li>
                        <li ng-if="admin || editor" class="divider"></li>
                        <li ng-if="admin" ><a ui-sref="adminPage" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Admin Panel</a></li>
                        <li ng-if="admin || editor" ><a ui-sref="editorPage" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Editor Panel</a></li>
                        <li><a href="#" ng-click="main.logout()">Logout</a></li>
                    </ul>
                </li>
                <li>
                    <a ng-href="/about" class="hidden-xs">About us</a>
                </li>
                <li>
                    <a ng-href="/about" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">About us</a>
                </li>
                <li>
                    <a ng-href="/ranking" class="hidden-xs">Battle Book</a>
                </li>
                <li>
                    <a ng-href="/ranking" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Battle Book</a>
                </li>
                <li class="dropdown">
                    <a ng-href="#" class="dropdown-toggle" data-toggle="dropdown">Categories <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ui-sref="blog({ categoryId:'training'})" class="hidden-xs">Training</a></li>
                        <li><a ui-sref="blog({ categoryId:'news'})" class="hidden-xs">News</a></li>
                        <li><a ui-sref="tournaments" class="hidden-xs">Tournaments</a></li>
                        <li><a ui-sref="blog({ categoryId:'training'})" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Training</a></li>
                        <li><a ui-sref="blog({ categoryId:'news'})" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">News</a></li>
                        <li><a ui-sref="tournaments" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Tournaments</a></li>
                    </ul>
                </li>
                <li>
                    <a ui-sref="gallery" class="hidden-xs">Gallery</a>
                    <a ui-sref="gallery" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Gallery</a>
                </li>
                <li>
                    <a ui-sref="other" class="hidden-xs">Other</a>
                    <a ui-sref="other" class="visible-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Other</a>
                </li>
                <li ng-if="!currentUser">
                    <a ng-click="showLogin($event)" class="visible-xs" data-toggle="collapse"  data-target="#bs-example-navbar-collapse-1">Log in</a>
                </li>
                <li ng-if="!currentUser">
                    <a ng-click="showRegister($event)" class="visible-xs" data-toggle="collapse"  data-target="#bs-example-navbar-collapse-1">Register</a>
                </li>
                <li ng-if="!currentUser">
                    <a ng-click="showLogin($event)" class="hidden-xs" >Log in</a>
                </li>
                <li ng-if="!currentUser">
                    <a ng-click="showRegister($event)" class="hidden-xs">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.container-fluid -->
</nav>
