
@media only screen and (max-width: 500px) {
    .hideFeed{
        display: none;
    }

    .showFeed{
        display: block;
    }
    .hideEvents{
        display: none;
    }

    .showEvents{
        display: block;
    }

}