.superMiniButton{
    padding:5px!important;
    font-size: 11px!important;
}

.myEventsHostingEditButtons{
    font-size: 11px!important;
}

.myEventsHostingEditButtonsContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.hostingEventListItemContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventDateToggleContainer{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.eventDataToggleText{
    margin-left: 3px;
    font-size: 12px;
}

.hostingCardHeader{
    font-size: 18px;
    font-weight: 700;
}
