<md-dialog aria-label="Mango (Fruit)" ng-controller="ModalCtrl">
    <form ng-cloak>
        <md-toolbar >
            <div class="md-toolbar-tools wc-theme ">
                <h2>Edit profile info</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="editForm" >
                <div layout-gt-sm="row">

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Name</label>
                        <input type="text" name="Name" ng-model='user.name'
                               minlength="3"
                               md-maxlength="24"
                               required >
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Age</label>
                        <md-select type="number" ng-model="user.age"
                                    min="18"
                                    max="60">
                            <md-option ng-repeat="age in ageArray" value="{{age}}">
                                {{age}}
                            </md-option>
                        </md-select>

                    </md-input-container>
                </div>

                <md-slider-container>
                    <span class="md-body-1">Weight</span>
                    <md-slider  flex ng-model="user.weight" min="45" max="130" aria-label="blue" id="blue-slider" class="md-primary"

                    >
                    </md-slider>
                    <md-input-container>
                        <input flex type="number" ng-model="user.weight" aria-label="blue" aria-controls="blue-slider"
                               min="40"
                               max="130"
                               required>
                    </md-input-container>
                    kg
                </md-slider-container>

                <md-input-container class="md-block">
                    <label>Favourite quote</label>
                    <textarea ng-model="user.quote" md-maxlength="64" rows="2" md-select-on-focus></textarea>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>About</label>
                    <textarea ng-model="user.about" md-maxlength="200" rows="5" md-select-on-focus></textarea>
                </md-input-container>


                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions  layout="row">

            <md-button ng-disabled="!user.name || !user.weight" ng-click="submit(user)">
               Submit

            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>