<section class="no-padding" id="portfolio" ng-controller="myApp.BlogCtrl as blog">
    <div class="container-fluid">
        <div class="row no-gutter popup-gallery">
            <div ng-repeat="news in blog.news | orderBy: '-created_at' |limitTo: 3" class="col-lg-4 col-sm-6">
                <a ui-sref="postDetail({postId: news.id})" class="portfolio-box">
                    <img data-aos="fade-up" data-aos-once="true" data-aos-duration="1500" src="{{ news.url }}" class="photo-news text-centre" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ news.type }}
                            </div>
                            <div class="project-name">
                                {{ news.title }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

