<section class="bg-pages" >
    <div class="container" ng-controller="myApp.FighterCtrl as fighterCtrl">
        <div class="col-md-3">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline text-center">{{ fighter.name }}</span>
                    <span class="md-subhead"></span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <div ng-show="fighterCtrl.fighterLoggedIn()">
                    <div ngf-drop
                         ngf-select
                         ng-model="file"
                         class="drop-box"
                         ngf-drag-over-class="'dragover'"
                         ngf-multiple="false"
                         accept="image/*"
                         ngf-pattern="'image/*'">
                        <md-tooltip md-direction="top">Drag or select to reupload</md-tooltip>
                        <img ng-show="fighter.image" class="photo-news" src="{{fighter.image}}">
                        <span ng-show="!fighter.image">Drop image here or click to upload</span>
                    </div>
                    <!--<img ng-show="fighter.image" class="img-responsive" src="{{fighter.image}}">-->
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                    <div ng-if="file && !fighterCtrl.photoUploaded" >
                        <div style=" background: #E4E4E4;overflow: hidden;width:100%;height:250px;">
                            <img-crop image="file  | ngfDataUrl"
                                      area-type="square"
                                      area-min-size="50"
                                      result-image="croppedImg" ng-init="croppedImg=''">
                            </img-crop>
                        </div>
                        <div>
                            <img ng-src="{{croppedImg}}" />
                        </div>
                        <md-button class="wc-theme" ng-click="upload(croppedImg, file.name)">Upload</md-button>
                    </div>
                </div>

            </md-card-content>
        </md-card>
        </div>

        <div class="col-md-5">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline"><span ng-repeat="flag in fighterCtrl.achievements.achievement.countries"><flag ng-if="flag.event.location != null" country="{{flag.event.location}}" size="32"></flag></span></span><br>
                        <span class="md-headline text-center">
                            <span class="pull-left">
                                <font color='#a52a2a'><i class='fa fa-trophy fa-2x' aria-hidden='true'></i><br>
                                <button style="background-color: #a52a2a; color: #0b0b0b " class="btn btn-xs">{{ fighterCtrl.achievements.achievement.bronze }}</button></font>
                            </span>
                             <span class="pull-left">
                                <font color='silver'><i class='fa fa-trophy fa-2x' aria-hidden='true'></i><br>
                                <button style="background-color: silver; color: #0b0b0b " class="btn btn-xs">{{ fighterCtrl.achievements.achievement.silver }}</button></font>
                            </span>
                             <span class="pull-left">
                                <font color='#ffd700'><i class='fa fa-trophy fa-2x' aria-hidden='true'></i><br>
                                <button style="background-color: #ffd700; color: #0b0b0b " class="btn btn-xs">{{ fighterCtrl.achievements.achievement.gold }}</button></font>
                            </span>

                            Fighter Stats</span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                </md-card-title>
                <!--<md-card-content layout="row" layout-align="space-between">-->

                <!--</md-card-content>-->
                <!--<md-card-actions layout="column" layout-align="start">-->
                    <!--<span class="md-subhead">Reversed</span>-->
                    <!--<span class="md-subhead">Reversed2</span>-->
                <!--</md-card-actions>-->
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <md-card-title-text>
                                <span style="font-size: large" class="md-subhead text-center">Fighter info</span><br>
                                <hr>
                                <span class="md-subhead">Age: {{ fighter.age }}</span><br>
                                <span class="md-subhead">Weight: {{ fighter.weight }}</span><br>
                                <span class="md-subhead">Points: {{ fighter.total_points }}</span><br>
                                <span class="md-subhead text-center">Quote:<br>
                                    <span style="font-size: small">"{{ fighter.quote }}"</span>
                                </span><br>
                            </md-card-title-text>
                        </div>
                        <div class="col-md-6">
                            <md-card-title-text>
                                <span style="font-size: large" class="md-subhead text-center">Fighter record</span>
                                <hr>
                                <span class="md-subhead"></span><br>
                                <span class="md-subhead">Fights: {{
                                      (fighter.bohurt | arrayHelper:'fights')
                                    + (fighter.profight | arrayHelper:'fights')
                                    + (fighter.sword_shield | arrayHelper:'fights')
                                    + (fighter.sword_buckler | arrayHelper:'fights')
                                    + (fighter.polearm | arrayHelper:'fights')
                                    + (fighter.triathlon | arrayHelper:'fights')
                                    + (fighter.longsword | arrayHelper:'fights')
                                    }}</span><br>
                                <span class="md-subhead">Bohurt: {{ fighter.bohurt | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">S&S: {{ fighter.sword_shield | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">S&B: {{ fighter.sword_buckler | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">Longsword: {{ fighter.longsword | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">Profight: {{ fighter.profight | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">Polearm: {{ fighter.polearm | arrayHelper:'fights' }}</span><br>
                                <span class="md-subhead">Triathlon: {{ fighter.triathlon | arrayHelper:'fights' }}</span><br>
                            </md-card-title-text>
                        </div>
                    </div>
                    <hr>
                    <span class="md-subhead">About:<br>
                        <span style="font-size: small">"{{ fighter.about }}"</span>
                    </span><br>
                </div>
            </md-card>
        </div>



        <div class="col-md-4">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline text-center">Achievements</span>
                        <span class="md-subhead"></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between">
                    <span ng-show="fighterCtrl.fighterLoggedIn() && !showform">
                        <md-button ng-click="showform=!showform" class="md-raised btn-sm wc-theme">Add Achievement</md-button>
                    </span>
                    <div ng-if="showform">

                        <form name="achievementForm" >
                            <md-input-container class="md-block" flex-gt-sm>
                                <md-select placeholder="Select Competition" ng-change="eventSelected = true" ng-model="achievement.event_id" required>
                                    <md-option ng-repeat="event in fighterCtrl.eventSelect" ng-value="event.id">
                                        {{ event.title }} <flag country="{{event.location}}" size="16"></flag>
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <!--<md-input-container class="md-block" flex-gt-sm>-->
                                <!--<label>Country </label>-->
                                <!--<md-select ng-model="achievement.location" required>-->
                                    <!--<md-option ng-repeat="country in countries" ng-value="country.code">-->
                                        <!--{{ country.name }}-->
                                    <!--</md-option>-->
                                <!--</md-select>-->
                            <!--</md-input-container>-->
                            <div ng-show="eventSelected">
                                <md-input-container>
                                    <label>Category </label>
                                    <md-select ng-model="achievement.category" required>
                                        <md-option ng-repeat="category in categories" ng-value="category.name" >
                                            {{ category.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container>
                                    <label>Place </label>
                                    <md-select ng-model="achievement.place" required>
                                        <md-option ng-repeat="place in places" ng-value="place.name" >
                                            {{ place.name }}
                                        </md-option>
                                    </md-select>
                                </md-input-container>

                                <!--<div class="md-block" flex-gt-xs >-->
                                    <!--<md-datepicker ng-required="true" name="date" ng-model="achievement.date" md-current-view="year" md-placeholder="Enter date"></md-datepicker>-->
                                <!--</div>-->
                                <md-button  ng-disabled="!(

                                           achievement.place &&
                                           achievement.category

                                            ) "
                                            ng-click="fighterCtrl.addAchievement(achievement)">
                                    Submit

                                </md-button>
                                <md-button ng-click="fighterCtrl.hideForm()"> Done </md-button>
                            </div>
                        </form>

                    </div>
                </md-card-content>
                <md-card-content ng-repeat="achievement in fighterCtrl.achievements.data">
                    <span >
                        {{ achievement.event.title }}
                        |<flag country="{{ achievement.event.location }}" size="16"></flag>
                        |{{achievement.category}}
                        |<span ng-bind-html="achievement.cup">{{ achievement.cup }}</span>
                        |{{achievement.event.date | limitTo:10}}
                    </span>
                    <button ng-show="fighterCtrl.fighterLoggedIn()" ng-click="updateForm=!updateForm" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span></button>
                    <button ng-show="fighterCtrl.fighterLoggedIn()" ng-click="fighterCtrl.deleteAchievement(achievement)" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                    <br>
                    <div ng-if="updateForm">
                        <form name="achievementForm" >
                            <md-input-container>
                                <label>Category </label>
                                <md-select ng-model="achievement.category" required>
                                    <md-option ng-repeat="category in categories" ng-value="category.name" >
                                        {{ category.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container>
                                <label>Place </label>
                                <md-select ng-model="achievement.place" required>
                                    <md-option ng-repeat="place in places" ng-value="place.name" >
                                        {{ place.name }}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <br>

                            <md-button  ng-disabled="!(
                                       achievement.place &&
                                       achievement.category
                                   )"
                                        ng-click="fighterCtrl.updateAchievement(achievement)">
                                Submit

                            </md-button>
                        </form>

                    </div>
                </md-card-content>

            </md-card>
        </div>
    </div>
</section>