<md-dialog aria-label="Mango (Fruit)" ng-controller="ModalCtrl">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools wc-theme">
                <h2>Update Record</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <form name="updateForm" >
                    <!--<span ng-hide="local[0].id">{{fighter.fighterId = local[0].id}}</span>-->
                    <span class="md-body-1">Won</span><br>
                    <md-slider-container>
                        <md-slider  flex ng-model="fighter.bohurt.won" min="0" max="20" aria-label="blue" id="blue-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="fighter.bohurt.won" aria-label="blue" aria-controls="blue-slider"
                                   min="0"
                                   max="20"
                                   required>
                        </md-input-container>
                    </md-slider-container>

                    <span class="md-body-1">Last man standing</span><br>
                    <md-slider-container>
                        <md-slider  flex ng-model="fighter.bohurt.last" min="0" max="20" aria-label="blue" id="blue-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="fighter.bohurt.last" aria-label="blue" aria-controls="blue-slider"
                                   min="0"
                                   max="20"
                                   required>
                        </md-input-container>
                    </md-slider-container>

                    <span class="md-body-1">Down</span><br>
                    <md-slider-container>
                        <md-slider  flex ng-model="fighter.bohurt.down" min="0" max="20" aria-label="blue" id="blue-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="fighter.bohurt.down" aria-label="blue" aria-controls="blue-slider"
                                   min="0"
                                   max="20"
                                   required>
                        </md-input-container>
                    </md-slider-container>

                    <span class="md-body-1">Suicide</span><br>
                    <md-slider-container>
                        <md-slider  flex ng-model="fighter.bohurt.suicide" min="0" max="20" aria-label="blue" id="blue-slider" class="md-primary">
                        </md-slider>
                        <md-input-container>
                            <input flex type="number" ng-model="fighter.bohurt.suicide" aria-label="blue" aria-controls="blue-slider"
                                   min="0"
                                   max="20"
                                   required>
                        </md-input-container>
                    </md-slider-container>

                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select placeholder="Select Competition" ng-model="fighter.bohurt.event_id" required>
                            <md-option ng-repeat="event in local[1]" ng-value="event.id">
                            {{ event.title }}
                            </md-option>
                        </md-select>
                    </md-input-container>


                </form>
            </div>
        </md-dialog-content>

        <md-dialog-actions ng-controller="myApp.ranking.TableAllController as ranking" layout="row">

            <md-button ng-click="ranking.submitRecord(fighter, local[0].id)">
               Submit

            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>