.topRow{
    padding-top: 10px;
    padding-bottom:5px;
}

.category-points{
    padding-top:10px;
    padding-bottom: 5px;
}

@media (max-width: 575px) {
    .category-points{
        font-size: x-small;
    }
}

.update-ranking{
    margin-right: -15px;
}

.border-right{
    border-right: 1px solid black;
}

.borderLeft{
    border-left: 1px solid black;
    align-self: center;
}

.borderLeft:last-child{
    align-self: center;
    border-left: 0;
    display: none;
}

.borderLeft:first-child{
    border-left: 0;
    display: none;
}

.align-center{
    align-self: center;
}

.leaderboardCategory{
    align-self: center;
    border-right: 1px solid black;
    text-align: center;
}

@media (max-width: 575px) {
    .leaderboardCategory{
        font-size: 10px;
    }
}

.index-number{
    font-size: small;
    align-self: center;
}