.sideMenuToggleButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.topMenuToggleButton{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (min-width: 767px) {
    .sideMenuToggleButton{
        display: none!important;
    }
    .topMenuToggleButton{
        display: none!important;
    }
}

.toggleBurger{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding:5px;
}

.sideNavContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
